/* 
    Created on : 21 de nov. de 2025, 21:07:23
    Author     : ramon
*/

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__content {
    width: 100%;
    padding: 25px;
}

.main__iframe {
    width: 100%;
    min-height: 82vh;
    background-color: #fff;
    border-radius: 30px;
    border: none;
}

.main__header {
    width: 100%;
    padding: 20px 40px;
}
.nav {
    width: 100%;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav__container .nav__item {
    list-style: none;
}

.main__footer {
    background-color: grey;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: var(--mainSize);
}

.main__footer span {
    font-weight: 800;
}

/* ------------------------------------------- */

.content {
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.page_header.descInfo{
    flex-direction: column;
}

.page_header .insert__bttn {
    background-color: var(--mainColor);
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        transition: 0.3s ease-in-out;
        background-color: var(--mainColorActive);
    }
}

.bttn {
    background-color: var(--mainColor);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        transition: 0.3s ease-in-out;
        background-color: var(--mainColorActive);
    }
}
.bttn.active {
    background-color: var(--mainColorActive);
}

.data_error {
    font-size: var(--errorSize);
    color: red;
    padding: 5px 0;
}